.button-tag {
  padding: 15px 10px;
  margin: 10px;
  border-radius: 0.3rem;
  border: none;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 29%, 50%);
  font-size: 15px;
  font-weight: 700;
  height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.button-tag:hover {
  background-color: hsl(180, 29%, 50%);
  color: white;
}
